google-play-scraper
app-store-scraper
pandas
numpy
umap-learn
hdbscan
sentence-transformers
scikit-learn
python-dotenv
openai
groq
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-generativeai
fastmcp
pytest
langdetect

fastapi==0.104.1
uvicorn==0.24.0
